# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.egg-info/

# Virtual environment
venv/
ENV/
.env
*.env

# Django
# db.sqlite3
media/
staticfiles/
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
